<!DOCTYPE html>
<html>
  <head>
    <title>Category - Apple</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1><a href="/inventory">Inventory</a> - <a href="/category">Categories</a></h1>
    <h3 class="heading-info"> 
      <a href="/inventory/password/create">Create new item</a> - 
      <a href="/category/password/create">Create new category</a> 
    </h3>
    
    <% fruits.forEach(fruit => { %>
        <% if(fruit.category == filteredCategory){ %>
            <div class="item-container">
                <div class="item-stock">
                  <p>Stock: <%=fruit.stock%></p>
                </div>
                <div class="item-info">
                  <a href="/inventory/<%=fruit.id%>">
                    <p><%=fruit.name%></p>
                  </a>
                    <p>€<%=fruit.price%></p>
                </div>
                <div class="item-description">
                    <img src=<%=fruit.imgURL%> alt="">
                    <p><%=fruit.description%></p>
                    <a href="/category" class="item-category"><%=fruit.category%></a>
                </div>
                <div class="edit-delete-container">
                  <button class="item-edit-link-btn">
                    <a class="item-edit-link" href="/inventory/edit/<%=fruit.id%>">edit</a>
                  </button>
                  <!-- Need methos override here to delete-->
                  <form action="/inventory/password/delete/<%=fruit.id%>" method="GET">
                    <button class="delete-btn" type="submit">Delete</button>
                  </form>
                </div>
            </div>
        <% } %> 
   <% }); %>

   
  </body>
</html>
