<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Inventory - <a href="/category">Categories</a></h1>

    <h3 class="heading-info"> 
      <a href="/inventory/password/create">Create new item</a> - 
      <a href="/category/password/create">Create new category</a> 
    </h3>
    
    <% fruits.forEach(fruit => { %>
      <div class="item-container">
        <div class="item-stock">
          <p>Stock: <%=fruit.stock%></p>
        </div>
        <div class="item-info">
            <a class="fruit-name" href="/inventory/<%=fruit.id%>">
              <p><%=fruit.name%></p>
            </a>
            <p class="price">€<%=fruit.price%></p>
        </div>
        <div class="item-description">
            <img src=<%=fruit.imgURL%> alt='<%=fruit.category%> '>
            <p class="description"><%=fruit.description%></p>
            <a href="/category/<%=fruit.category%> " class="item-category"><%=fruit.category%></a>
        </div>
        <div class="edit-delete-container">



          <form action="inventory/password/edit/<%=fruit.id%>" method="GET">
            <button class="item-edit-link-btn" type="submit">
              <span class="item-edit-link" href="">edit</span>
            </button>
          </form>


          <form action="inventory/password/delete/<%=fruit.id%>" method="GET">
            <button class="delete-btn" type="submit">Delete</button>
          </form>

        </div>
      </div>
   <% }); %>

  </body>
</html>
